__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.idea/
.vscode/
*.log
*.log.*
schemes.index
analytics.db
*.csv
!schemes_mapping.csv
*.json
._*
.DS_Store
*.dylib
*.so
*.dll
*.model
*.data*
*.tf_model*
*.h5
npm-debug.log*
yarn-debug.log*
yarn-error.log*
